.contact__row {
    margin: 0px;
    padding: 0px auto;
    }
    
    .jumbotron {
        padding: 70px 30px;
        margin: 0px auto;
        background-color: #9575cd;
        color: floralwhite;
    }